{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}
{% block content %}
<main class="main {{ color_theme }}">
  <section class="account">
    <div class="img-wrap"><img src="{{ url_for('.static', filename='img/default.png') }}" class="card-img-top" alt="Дефолтне зображення"></div>
    <h1>Ласкаво просимо до сторінки Account, {{ user.username }}!</h1>
    <p>Пошта реєстрації: {{ user.email }}</p>
    <p>Тут ви можете отримати інформацію та вийти з системи</p>
    <a class="btn btn-danger" href="{{url_for('users.logout')}}">Вийти з профілю</a>
  </section>
</main>
{% endblock %}