{% extends 'base.html' %}
{% block title %} Profile Page {% endblock %}

{% block content %}
<main class="main {{ color_theme }}">
  <section class="chooseColorTheme">
    <a href="{{ url_for('users.set_color_theme', color='light') }}" class="btn btn-light">Світла тема</a>
    <a href="{{ url_for('users.set_color_theme', color='dark') }}" class="btn btn-dark">Темна тема</a>
  </section>
  <section class="profile">
    <h1>Ласкаво просимо до сторінки "Профіль", {{ username }}!</h1>
    <p>Тут ви можете отримати інформацію та вийти з системи</p>
    <a class="btn btn-danger" href="{{url_for('users.logout')}}">Вийти з профілю</a>
  </section>
  <section class="addCookies">
      <form class="addCookie formWithBack" method="post" action="{{ url_for('users.set_cookie') }}">
        <h2>Додати кукі</h2>
        <label>Ключ кукі</label>
        <input type="text" name="keyCookie">
        <label>Значення кукі</label>
        <input type="text" name="valueCookie">
        <label>Термін дії(сек)</label>
        <input type="text" name="timeCookie">
        <button type="submit" class="btn btn-success">Встановити куку</button>
      </form>
  </section>
  <section class="deleteCookiesByKey">
    <form class="deleteCookieByKey formWithBack" method="post" action="{{ url_for('users.delete_cookie_by_key') }}">
      <h2>Видалити кукі за ключем</h2>
      <label>Ключ кукі для видалення</label>
      <input type="text" name="keyCookie">
      <button type="submit" class="btn btn-warning">Видалити кукі за ключем</button>
    </form>
</section>
<section class="deleteAllCookies">
  <form class="deleteAllCookie formWithBack" method="post" action="{{ url_for('users.delete_all_cookies') }}">
    <h2>Видалити всі кукі</h2>
    <button type="submit" class="btn btn-danger">Видалити всі кукі</button>
  </form>
</section>
<section class="cookiesTable">
  <h2>Список кукі</h2>
  <table border="1">
    <tr>
      <th>Ключі</th>
      <th>Значення</th>
    </tr>
    {% if cookies %}
      {% for key, value in cookies %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="2">No cookies found.</td>
      </tr>
    {% endif %}
  </table>
</section>
</main>
{% endblock %}