{% extends 'base.html' %}

{% block title %} Add Post {% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/addPostForm.css') }}">
{% endblock %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Додати новий пост</h2>
    <form class="formWithBack" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            {% from 'form_macros.html' import render_field %}
            {{ render_field(form.title, 'form-control', 'Наприклад: Нові горизонти штучного інтелекту в 2024 році') }}
        </div>

        <div class="mb-3">
            {{ render_field(form.content, 'form-control') }}
        </div>


        <div class="mb-3">
            {{ render_field(form.publish_date, 'form-control') }}
        </div>

        <button type="submit" class="btn btn-primary">Створити пост</button>
    </form>
    <div class="mt-3">
      <a href="{{ url_for('posts.get_posts') }}" class="btn btn-secondary">Return to Posts</a>
    </div>

</div>

{% endblock %}



        <!-- <div class="mb-3">
            {{ render_field(form.category, 'form-control') }}
        </div> -->

        
        <!-- <div class="mb-3 form-check">
          {{ form.is_active.label(class="form-label label-check") }}
          {{ form.is_active(class="form-control form-check-input") }}
      </div> -->