* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.page {
  background-color: #93B7BE;
}

.nav {
  padding: 10px;
  padding-bottom: 0;
  justify-content: end;
  width: 100%;
}

.nav-link {
  color: #fff;
}

.navbar {
  background-color: #007bff;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  background-color: #0056b3;
  border-radius: 5px;
}


.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 100px;
}

.section h1 {
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.photo {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.about-info {
  max-width: 400px;
}

/*  */


.education-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.education-card {
  background-color: #f1fffa;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.education-info h2 {
  font-size: 18px;
  color: #007bff;
}

.education-info p {
  font-size: 16px;
  color: #444;
}

.education-info .date {
  font-size: 14px;
  color: #888;
}

/*  */

.skills-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 20px;
}

.skill {
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.skill img {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.skill span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.skill:hover img {
  transform: scale(1.1);
}

.skill:hover span {
  color: #007bff;
}

.section-title {
  text-align: center;
  font-size: 28px;
  color: #444;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}



/*  */

.projects {
  width: 100%;
  padding: 10px;
}

.project-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 20px;
}

.project-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.project-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-title {
  font-size: 20px;
  color: #007bff;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.project-tech {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.project-link {
  display: inline-block;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #0056b3;
}

.section-title {
  text-align: center;
  font-size: 28px;
  color: #444;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}



.footer {
  background-color: #454545;
  color: #fff;
  padding: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.footer-container {
  display: flex;
  text-align: center;
  gap: 40px;
}

.footer-contact {
  flex: 1;
  min-width: 250px;
}

.footer p, .footer a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}



.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
  padding: 10px;
  gap: 60px;
}

.ageNotApproved {
  color: red;
}

.ageApproved {
  color: green;
}

.loginForm {
  width: 100%;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  text-align: center;
}
.loginForm h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
}
.formButton {
  width: 40%;
  align-self: center;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  color: #ffffff;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: #0056b3;
  cursor: pointer;
}

/* ///////// */

.profile h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.profile a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
}


form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
}

form input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

form button[type="submit"] {
  align-self: center;
  padding: 10px;
  font-size: 1em;
  width: fit-content; 
}



.cookiesTable h2 {
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.cookiesTable table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 15px;
}

.cookiesTable th, .cookiesTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.cookiesTable th {
  background-color: #007bff;
  color: #ffffff;
}

.cookiesTable tr{
  background-color: #b7b8b8;
}

.cookiesTable tr:nth-child(even) {
  background-color: #f2f2f2;
}


.light {
  background-color: #ffffff;
  color: #333333;
}


.dark {
  background-color: #333333;
}

.dark p, .dark h1 {
  color: #f8f9fa;
}

.chooseColorTheme {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}


@media (max-width: 768px) {
  * {
    font-size: 12px;
  }
  .main {
    padding: 10px;
  }

  .loginForm {
    width: 100%;
  }
  .about {
    flex-direction: column;
    gap: 60px;
  }
  
  .photo {
    width: 300px;
    height: 300px;
  }
  
  .about-info {
    text-align: center;
    max-width: 250px;
  }

  .skills-icons {
    flex-direction: column;
    align-items: center;
  }

  .skill {
    width: 200px;
  }
  
  .footer-container {
    flex-direction: column;
  }

.footer-contact {
    text-align: center;
  }
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}
.linkForCard {
  display: block;
  text-decoration: none; 
  color: inherit;
}

.post-card {
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  width: 300px;
  height: 300px;
  transition: transform 0.3s ease; 
}

.post-card:hover {
  transform: scale(1.05);
}

.post-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.post-content {
  font-size: 1em;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.post-category {
  font-size: 0.9em;
  font-weight: 600;
  color: #0073e6;
  margin-bottom: 8px;
}

.post-publication-date {
  font-size: 0.8em;
  color: #999;
  margin-bottom: 5px;
}

.post-author {
  font-size: 0.9em;
  color: #666;
  font-style: italic;
}
.mb-4 {
  text-align: center;

}


.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover {
  background-color: #5a6268;
  transform: translateY(-2px);
}

.text-danger {
  color: #dc3545;
  font-size: 0.9rem;
}

.form-check-input {
  margin-right: 10px;
  width: 20px;
}

.form-check-label {
  font-size: 1rem;
}

.mt-3 {
  margin-top: 20px;
}

.mb-3 {
  margin-bottom: 15px;
}

.label-check {
  display: inline-block;
  height: fit-content;
  margin: auto 0;
}

.form-check {
  display: flex;
  flex-direction: row;
    gap: 30px;
}
.posts-title {
  margin: 30px;
  text-align: center;
}
.text-danger {
  font-size: 44px;
}


.post-page {
  width: 100%;
  padding: 30px 100px;
} 

.post-page-title {
  text-align: center;
  
  font-size: 2.5em;
  color: #333;
  margin-bottom: 15px;
}

.post-page-content {
  font-size: 1.2em;
  color: #333;
  line-height: 1.8;
  margin-top: 20px;
}

.post-page-category,
.post-page-publication-date,
.post-page-author {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
}

.post-page-category strong,
.post-page-publication-date strong,
.post-page-author strong {
  color: #444;
}

